/* Estilo de la página */
body {
    background-color: #f4f4f4;
    padding: 40px 20px;
}

/* Contenedor principal */
.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

/* Título */
h1 { color: #7d87c1;}

/* Lista */
#lista {
    list-style-type: none;
    padding: 0;
}

/* Elementos agregados */
.elemento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 6px;
}