body {
    font-family: "Times New Roman", serif;
    background-color: #fef0ff;
    color: black;
    padding: 10px;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
    color: #8a1e6d;
}

.etiqueta {
    font-size: 30px;
    margin-right: 5px;
    color: #7c2d12;
}

.numeroConvertir,
.numeroConvertido {
    font-size: 28px;
    width: 330px;
    height: 38px;
    margin-right: 5px;
    border: 2px solid #fa60d9;
    border-radius: 6px;
    background-color: white;
    color: black;
}

.numeroConvertido {
    background-color: #f9e0fe;
    pointer-events: none;
    user-select: none;
    caret-color: transparent;
}

.boton {
    font-size: 28px;
    height: 44px;
    margin-right: 5px;
    background-color: #eb25ba;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.boton:hover {
    background-color: #d81da0;
}